.blue-bg {
  background-color: rgb(1, 1, 114);
}

.Last-News {
  font-size: 50px;
}

.baris-pertama {
  margin-left: 13%;
}

.blog-1 {
  width: 200px;
}

.blog-2 {
  width: 248px;
}

.blog-3 {
  width: 332px;
}

.waktu-blog3 {
  padding-top: 15px;
}

.blog-4 {
  width: 282px;
}



